<a href="https://colab.research.google.com/github/haviet12/Date_2_AI/blob/main/Tuan2_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open('text.txt', mode ='w') as accounts :
  accounts.write('20146489    Nguyen Viet Ha  8.0\n')
  accounts.write('20146486    Nguyen Viet B  8.0\n')
  accounts.write('20146488    Nguyen Viet C  8.0\n')
  accounts.write('20146452    Nguyen Viet D  8.0\n')
  accounts.write('20146451    Nguyen Viet E  8.0\n')
  accounts.write('20146412    Nguyen Viet F  8.0\n')
  accounts.write('20146483    Nguyen Viet G  8.0\n')
  accounts.write('20146423    Nguyen Viet H  8.0\n')
  accounts.write('20146478    Nguyen Viet I  8.0\n')
  accounts.write('20146479    Nguyen Viet K  8.0\n')
  accounts.write('20146485    Nguyen Viet L  8.0\n')
  accounts.write('20146456    Nguyen Viet M  8.0\n')
  accounts.write('20146445    Nguyen Viet N  8.0\n')
  accounts.write('20146443    Nguyen Viet P  8.0\n')
  accounts.write('20146472    Nguyen Viet Q  8.0\n')
  accounts.write('20146470    Nguyen Viet W  8.0\n')
  accounts.write('20146490    Nguyen Viet R  8.0\n')
  accounts.write('20146460    Nguyen Viet S  8.0\n')
  accounts.write('20146450    Nguyen Viet Y  8.0\n')
  accounts.write('20146440    Nguyen Viet O  8.0\n')
  accounts.write('20146466    Nguyen Viet Z  8.0\n')

In [ ]:
with open('text_1.txt', mode ='w') as data:
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146486    Nguyen Viet B  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)
  print('20146489    Nguyen Viet Ha  8.0\n', file = data)

In [55]:

import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
# dataframe.shape ## hiển thị số hàng và số cột 
# dataframe.describe
dataframe.head(20)
dataframe.iloc[:4]

       MSSV       Ho va Ten Khoa  Diem
0  20146489  Nguyen Viet Ha  K20     8
1  20146523    Nguyen Van A  K20     9
2  20146950    Nguyen Van B  K20     7
3  20146532    Nguyen Van C  K20     5

In [ ]:
## lọc dữ liệu 
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
frame = dataframe.set_index(dataframe['Ho va Ten'])
frame.loc['Nguyen Van Trung']

MSSV                 18567852
Ho va Ten    Nguyen Van Trung
Khoa                      K18
Diem                        8
Name: Nguyen Van Trung, dtype: object

In [ ]:
## lọc dữ liệu 
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe[dataframe['Diem']==8].head(10)
# frame.loc['Nguyen Van Trung']

        MSSV         Ho va Ten Khoa  Diem
0   20146489    Nguyen Viet Ha  K20     8
5   20146541      Nguyen Van E  K20     8
6   20146552      Nguyen Van F  K20     8
10  18567852  Nguyen Van Trung  K18     8
16  19648535   Nguyen Van Minh  K19     8

In [ ]:
## lọc dữ liệu điểm và khóa
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe[(dataframe['Diem']==8) & (dataframe['Khoa']=='K19')].head(10)

        MSSV        Ho va Ten Khoa  Diem
16  19648535  Nguyen Van Minh  K19     8

In [ ]:
## lọc dữ liệu trên 5
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe[(dataframe['Diem']>5)]

        MSSV         Ho va Ten Khoa  Diem
0   20146489    Nguyen Viet Ha  K20     8
1   20146523      Nguyen Van A  K20     9
2   20146950      Nguyen Van B  K20     7
4   20146789      Nguyen Van D  K20     6
5   20146541      Nguyen Van E  K20     8
6   20146552      Nguyen Van F  K20     8
7   20146323      Nguyen Van G  K20     9
8   17195623      Nguyen Van H  K17     7
9   18925023      Nguyen Van I  K18     9
10  18567852  Nguyen Van Trung  K18     8
11  19562489  Nguyen Van Hoang  K19     6
12  19648532   Nguyen Van Dung  K19     7
14  19648533    Nguyen Van Tri  K19     9
16  19648535   Nguyen Van Minh  K19     8
17  19648536      Nguyen Van K  K19     9
18  19648537      Nguyen Van L  K19     7

In [ ]:
## lọc dữ liệu 
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe['Khoa'].max()
dataframe['Khoa'].unique()# liệt kê các khoa hiện có 
dataframe['Khoa'].value_counts() # đếm số lượng trong từng khoa
dataframe['Diem'].mean() # tính trung bình
dataframe['Diem'].count() # đếm số phần tử

19

In [ ]:
## delete columns
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
#dataframe.drop(['Khoa'], axis=1).head(20)## xóa 1 cột bất kì
dataframe.drop(dataframe.columns[:2], axis=1)

   Khoa  Diem
0   K20     8
1   K20     9
2   K20     7
3   K20     5
4   K20     6
5   K20     8
6   K20     8
7   K20     9
8   K17     7
9   K18     9
10  K18     8
11  K19     6
12  K19     7
13  K19     5
14  K19     9
15  K19     5
16  K19     8
17  K19     9
18  K19     7

In [ ]:
#delete row
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe[dataframe['Khoa']!='K19'] # khi chưa biết index
dataframe[dataframe.index!=4] # khi biết index

        MSSV         Ho va Ten Khoa  Diem
0   20146489    Nguyen Viet Ha  K20     8
1   20146523      Nguyen Van A  K20     9
2   20146950      Nguyen Van B  K20     7
3   20146532      Nguyen Van C  K20     5
5   20146541      Nguyen Van E  K20     8
6   20146552      Nguyen Van F  K20     8
7   20146323      Nguyen Van G  K20     9
8   17195623      Nguyen Van H  K17     7
9   18925023      Nguyen Van I  K18     9
10  18567852  Nguyen Van Trung  K18     8
11  19562489  Nguyen Van Hoang  K19     6
12  19648532   Nguyen Van Dung  K19     7
13  19648531   Nguyen Van Kien  K19     5
14  19648533    Nguyen Van Tri  K19     9
15  19648534    Nguyen Van Tai  K19     5
16  19648535   Nguyen Van Minh  K19     8
17  19648536      Nguyen Van K  K19     9
18  19648537      Nguyen Van L  K19     7

In [ ]:
# gộp nhóm 
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.groupby('Khoa').count()

      MSSV  Ho va Ten  Diem
Khoa
K17      1          1     1
K18      2          2     2
K19      8          8     8
K20      8          8     8

In [3]:
import pandas as pd
import numpy as np

time = pd.date_range('01/01/2023', periods =100000, freq ='30s')
dataframe =pd.DataFrame(index= time)
dataframe['Acess_Amount']= np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amount
2023-01-01         14297
2023-01-08        100602
2023-01-15        100876
2023-01-22        100321
2023-01-29        101032
2023-02-05         82463

In [ ]:
import pandas as pd
url= 'http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
print(data)

      Year      City       Sport      Discipline  NOC            Event  \
0     1924  Chamonix     Skating  Figure skating  AUT       individual
1     1924  Chamonix     Skating  Figure skating  AUT       individual
2     1924  Chamonix     Skating  Figure skating  AUT            pairs
3     1924  Chamonix   Bobsleigh       Bobsleigh  BEL         four-man
4     1924  Chamonix  Ice Hockey      Ice Hockey  CAN       ice hockey
...    ...       ...         ...             ...  ...              ...
2306  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2307  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2308  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2309  2006     Turin      Skiing       Snowboard  USA  Snowboard Cross
2310  2006     Turin      Skiing       Snowboard  USA  Snowboard Cross

     Event gender   Medal
0               M  Silver
1               W    Gold
2               X    Gold
3               M  Bronze
4               M    Gold
...           ...     ...
2306            M  Silver
2307            W    Gold
2308            W  Silver
2309            M    Gold
2310            W  Silver

[2311 rows x 8 columns]

In [44]:
data_del=data.drop(['City','Sport','Event gender','Event'], axis =1)
data_del.groupby('Medal').count()
## tổng hợp số huy chương vàng, bạc, đồng từ năm 1924-> 2006

        Year  Discipline  NOC
Medal
Bronze   764         764  764
Gold     774         774  774
Silver   773         773  773

In [31]:
## danh sách giải thưởng của CANADA qua các năm
frame = data.set_index(data['NOC'])
frame.loc['CAN']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze
...,...,...,...,...,...,...,...,...
CAN,2006,Turin,Skating,Speed skating,CAN,Team pursuit,W,Silver
CAN,2006,Turin,Skiing,Cross Country S,CAN,Sprint 1.5km,W,Gold
CAN,2006,Turin,Skiing,Cross Country S,CAN,Team sprint,W,Silver
CAN,2006,Turin,Skiing,Freestyle Ski.,CAN,moguls,W,Gold
CAN,2006,Turin,Skiing,Snowboard,CAN,Snowboard Cross,W,Bronze

In [45]:
frame = data.set_index(data['NOC'])
filter=frame.loc['CAN']
filter.groupby('Medal').count()
## liệt kê tổng số huy chương mà CANADA đạt được

        Year  City  Sport  Discipline  NOC  Event  Event gender
Medal
Bronze    43    43     43          43   43     43            43
Gold      38    38     38          38   38     38            38
Silver    38    38     38          38   38     38            38

In [56]:
## danh sách liệt kê số huy chương đạt được ở từng hạng mục thi đấu olympic 
filter.groupby(['Sport','Event','Medal']).count()

                                   Year  City  Discipline  NOC  Event gender
Sport      Event           Medal
Biathlon   15km            Bronze     1     1           1    1             1
                           Gold       1     1           1    1             1
           7.5km           Gold       1     1           1    1             1
Bobsleigh  four-man        Gold       1     1           1    1             1
           individual      Bronze     1     1           1    1             1
                           Gold       1     1           1    1             1
                           Silver     1     1           1    1             1
           two-man         Gold       1     1           1    1             1
                           Silver     1     1           1    1             1
Curling    curling         Bronze     2     2           2    2             2
                           Gold       2     2           2    2             2
                           Silver     2     2           2    2             2
Ice Hockey ice hockey      Bronze     2     2           2    2             2
                           Gold       8     8           8    8             8
                           Silver     5     5           5    5             5
Skating    10000m          Bronze     1     1           1    1             1
           1000m           Bronze     4     4           4    4             4
                           Gold       1     1           1    1             1
                           Silver     4     4           4    4             4
           1500m           Bronze     2     2           2    2             2
                           Gold       2     2           2    2             2
                           Silver     2     2           2    2             2
           3000m           Bronze     2     2           2    2             2
           3000m relay     Bronze     2     2           2    2             2
                           Gold       1     1           1    1             1
                           Silver     2     2           2    2             2
           5000m           Bronze     3     3           3    3             3
                           Gold       1     1           1    1             1
           5000m relay     Gold       2     2           2    2             2
                           Silver     2     2           2    2             2
           500m            Bronze     5     5           5    5             5
                           Gold       4     4           4    4             4
                           Silver     6     6           6    6             6
           Team pursuit    Silver     2     2           2    2             2
           ice dancing     Bronze     1     1           1    1             1
           individual      Bronze     5     5           5    5             5
                           Gold       1     1           1    1             1
                           Silver     6     6           6    6             6
           pairs           Bronze     4     4           4    4             4
                           Gold       2     2           2    2             2
                           Silver     1     1           1    1             1
Skiing     5km pursuit     Gold       1     1           1    1             1
           Snowboard Cross Bronze     1     1           1    1             1
           Sprint 1.5km    Gold       1     1           1    1             1
           Team sprint     Silver     1     1           1    1             1
           aerials         Bronze     2     2           2    2             2
                           Silver     2     2           2    2             2
           downhill        Bronze     4     4           4    4             4
                           Gold       1     1           1    1             1
           giant slalom    Gold       2     2           2    2             2
           giant-slalom    Gold       1     1           1    1             1
           moguls          Gold       2     2           2    2             2
           slalom          Gold       1     1           1    1             1
                           Silver     1     1           1    1             1
           super-G         Bronze     1     1           1    1             1

# New Section

In [ ]:
# with open('text.txt', mode ='r') as lists:
#   print(f'{"MSSV":<10}{"Name":<20}{"Score":>4}')
#   for record in lists:
#     mssv, name, score = record.split()
#     print(f'{mssv:<10}{name:<20}{score:>4}')

# New Section